coverage==3.7.1
django-nose==1.2
django-pure-pagination==0.3.0 
django-watson==1.6.2
Django==1.7
factory_boy
ipywidgets==7.5.1
matplotlib==3.3.0
mock
mvgavg==0.1.0
mysql-python
MySQL-python==1.2.4
mysqlclient==2.1.0 
neurokit2==0.0.28
nose-progressive==1.5
numpy==1.19.1
pandas==1.0.5
pinocchio==0.4.1
pymysql
pytest-cov
pytest-django
scikit_learn==0.24.2
scipy==1.5.2
seaborn==0.10.1
setuptools==59.5.0
six==1.5
tensorflow
wfdb==2.2.1
wheel==0.37.1 
